<div class="card-group">
    <div class="card">
        <img src="../../../assets/IMGpokes.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pokémons</h5>
            <p class="card-text">Los Pokémon son una clase de criaturas inspiradas en animales reales, insectos, objetos, plantas o criaturas mitológicas. Los jugadores toman el papel Entrenadores Pokémon y tienen objetivos generales: formar un equipo de Pokémon poderosos
                de aquellos que han atrapado para competir contra otros entrenadores..</p>
            <button class="btn btn-primary">Explorar pokémos</button>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/DEXpokes.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pokédex</h5>
            <p class="card-text">La Pokédex es una enciclopedia electrónica portátil que los entrenadores Pokémon llevan consigo para registrar automáticamente las fichas de todas las diversas especies Pokémon vistas y capturadas durante su viaje como entrenadores.​​ </p>
            <button class="btn btn-danger" routerLink="/pokedex" routerLinkActive="active">Consultar Pokémons</button>
        </div>
    </div>
</div>