<div class="general-elemetns">
    <div class="container">
        <h1>{{titulo}}</h1>
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" placeholder="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="pokemon['nombre']">
                </div>
                <br>
                <button class="btn btn-primary" (click)="searchPokemon(pokemon['nombre'])">Buscar</button>
            </form>
        </div>
        <div class="test">
            <br>
            <div class="card" style="width: 18rem;" *ngIf="img">
                <img src="{{img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <h5>Habilidades</h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pokémons</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let poke of pokes; let i = index">
                <td>{{poke['name']}}</td>
                <td><button (click)="delete(poke['name'])" type="button" class="btn btn-danger">Delete</button></td>
                <td><button class="btn btn-primary" (click)="detalle(poke['name'])">Detalles</button></td>
            </tr>
        </tbody>
    </table>
</div>