<div class="general">
    <div class="container">
        <h1>{{titulo}}</h1>
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" class="form-control" placeholder="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="pokemon['nombre']">
                </div>
                <br>
                <button class="btn btn-primary" (click)="searchPokemon(pokemon['nombre'])">Buscar</button>
            </form>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ejemplos</th>
            </tr>
            <tr>Acciones</tr>
        </thead>
        <tbody>
            <tr *ngFor="let poke of pokes; let i = index">
                <td>{{poke['name']}}</td>
                <td><button (click)="delete(poke['name'])" type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
        <!--<app-details [pokes2]="pokes2"></app-details>-->
    </table>
</div>

<div class="test">
    <div class="card" style="width: 18rem;">
        <img src="{{img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Habilidades</a>
        </div>
    </div>
</div>